/* IMPORT GLOBAL ELEMENTS */
@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/ProximaNova-Light.woff);
  src: url(../fonts/ProximaNova-Light.eot);
  src: url(../fonts/ProximaNova-Light.otf);
  src: url(../fonts/ProximaNova-Light.svg);
  src: url(../fonts/ProximaNova-Light.ttf);
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/ProximaNova-Regular.woff);
  src: url(../fonts/ProximaNova-Regular.eot);
  src: url(../fonts/ProximaNova-Regular.otf);
  src: url(../fonts/ProximaNova-Regular.svg);
  src: url(../fonts/ProximaNova-Regular.ttf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/ProximaNova-Semibold.woff);
  src: url(../fonts/ProximaNova-Semibold.eot);
  src: url(../fonts/ProximaNova-Semibold.otf);
  src: url(../fonts/ProximaNova-Regular.svg);
  src: url(../fonts/ProximaNova-Semibold.ttf);
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/ProximaNova-Bold.woff);
  src: url(../fonts/ProximaNova-Bold.eot);
  src: url(../fonts/ProximaNova-Bold.otf);
  src: url(../fonts/ProximaNova-Bold.svg);
  src: url(../fonts/ProximaNova-Bold.ttf);
  font-weight: 700;
  font-style: normal; }

/* FONT FAMILY */
/* FONT WEIGHTS */
#container {
  max-width: 960px;
  margin: auto;
  font-family: "Proxima Nova", serif; }

/* IMPORT ORGANISMS */
#header {
  margin-top: 110px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

#hero {
  margin-top: 64px; }

#projects {
  margin-top: 100px; }
  #projects a {
    color: #212121;
    text-decoration: none; }
  #projects ul {
    padding: 0;
    margin: 0 auto 80px auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #projects ul li {
      padding: 0px; }

#footer {
  margin-top: 130px;
  text-align: center;
  margin-bottom: 100px; }
  #footer .divider-h {
    width: 47px;
    height: 1px;
    background: #212121;
    display: block;
    margin: 0 auto 50px auto; }

/* IMPORT MOLECULES */
.logo {
  display: inline-block; }

.logo img {
  width: 135px; }

.name {
  display: inline-block; }
  .name h1 {
    font-weight: 600;
    letter-spacing: 7px;
    font-size: 40px;
    padding: 0;
    margin: 0;
    color: #212121; }
  .name h2 {
    font-weight: 400;
    color: #5B6473;
    margin: 0;
    font-size: 14px;
    margin-top: 10px; }
    .name h2 i {
      font-style: normal;
      font-weight: 600; }

.project_card {
  background-size: 220px 220px !important;
  width: 220px;
  height: 220px;
  margin: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  transition: .5s;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(166, 166, 166, 0.5); }

.project_card:hover {
  box-shadow: 0 10px 20px rgba(204, 204, 204, 0.5);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px); }

.project_card .hover {
  background: #fff;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 190px;
  -webkit-clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 100%);
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 0 20px;
  width: 100%;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateY(190px);
  -ms-transform: translateY(190px);
  transform: translateY(190px); }

.project_card:hover .hover {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

/* IMPORT ATOMS */
.btn_visit {
  background: #D00000;
  width: 310px;
  height: 47px;
  outline: 0;
  border: 0;
  color: #fff;
  letter-spacing: 4.1px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  margin-top: 50px;
  transition: background .3s;
  cursor: pointer; }

.btn_visit:hover {
  background: #FF3030; }

.btn_visit:after {
  content: 'VISIT US ON GITHUB!'; }

.btn_visit:hover:after {
  content: 'http://github.com/wearenolte';
  letter-spacing: 1px; }

#footer p {
  font-weight: 100; }
  #footer p strong {
    font-weight: 600; }

#footer img {
  width: 16px;
  height: 16px;
  display: block;
  margin: auto; }

#projects h3 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 60px;
  color: #5B6473; }

.slogan {
  font-weight: 100;
  font-size: 40px;
  line-height: 63px; }

.card_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  display: block;
  margin-top: 55px; }

.card_text {
  margin-top: 5px;
  font-weight: 100;
  font-size: 15px;
  line-height: 20px;
  display: block; }

.details {
  position: absolute;
  bottom: 10px; }
  .details .detail {
    display: inline-block;
    margin-right: 10px;
    color: #212121; }
    .details .detail img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px; }
    .details .detail .number {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      color: #D00000;
      letter-spacing: 1px; }

.divider {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  width: 1px;
  height: 100px;
  background: #212121; }

@media only screen and (max-width: 1024px) {
  #container {
    padding: 0 30px; }
  #projects ul {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .project_card {
    margin: 10px !important; }
  #header {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    #header .logo {
      margin-bottom: 35px; }
  #hero {
    text-align: center; }
  .divider {
    display: none; } }
