.name {
  display: inline-block;
h1 {
  font-weight: $semi-bold;
  letter-spacing: 7px;
  font-size: 40px;
  padding: 0;
  margin:0;
  color: $base-color;
}
h2 {
  font-weight: $regular;
  color: $blue-light;
  margin: 0;
  font-size: 14px;
  margin-top:10px;
  i {
    font-style: normal;
    font-weight: $semi-bold;
    }
  }
}
