.btn_visit {
background: $nolte-red;
width: 310px;
height: 47px;
outline: 0;
border: 0;
color:#fff;
letter-spacing: 4.1px;
font-size: 14px;
text-align: center;
font-weight: $semi-bold;
margin-top: 50px;
transition: background .3s;
cursor: pointer;
}
.btn_visit:hover {
  background: $nolte-red-light;
}
.btn_visit:after  {
    content:'VISIT US ON GITHUB!';
}

.btn_visit:hover:after {
  content:'http://github.com/wearenolte';
  letter-spacing: 1px;
}
