.details {
  margin-top: 10px;
  .detail {
    display: inline-block;
    margin-right: 10px;
    color: #212121;
    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
    .number {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      color:#d00000;
      letter-spacing: 1px;
    }
  }
}
