.details {
  position: absolute;
  bottom: 10px;

  .detail {
    display: inline-block;
    margin-right: 10px;
    color: $base-color;
    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
    .number {
      display: inline-block;
      font-size: 14px;
      font-weight: $semi-bold;
      color:$nolte-red;
      letter-spacing: 1px;
    }
  }
}
