$dark: #212121;
$pale-dark: #939CAA;
$nolte-red: #D00000;
$nolte-red-light: #FF3030;
$blue: #373E4A;
$blue-light: #5B6473;

$base-color: $dark;
$projects-title: $blue-light;
$card-details:$nolte-red;
