@media only screen and (max-width: 1024px) {
body {
  }
    #container {
      padding: 0 30px;
    }
    #projects ul {
      justify-content: center;
    }
    .project_card {
      margin: 10px !important;
    }
  #header {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .logo {
      margin-bottom: 35px;
    }
  }
  #hero {
    text-align: center;
  }
  .divider {
    display:none;
  }
}
